<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
        <%= f.label "Would you like to be a vendor?"%><br />
        <%= f.check_box :vendor, onclick:"toggle('#vendor_fields', this)" %> If yes, please provide additional details for verification<br />
    </div>

  <div id="vendor_fields">
    <div class="field">
      <%= f.label :vendor_identification %><br />
      <%= f.text_field :vendor_identification %>
    </div>

    <div class="field">
      <%= f.label :vendor_description %><br />
      <%= f.text_area :vendor_description %>
    </div>

    <div class="field">
      <%= f.label :vendor_category %><br />
      <%= f.select(:vendor_category, options_for_select([["- please select -", nil], ["People with disability", "People with disability"], ["Senior citizen", "Senior citizen"]])) %>
    </div>

    <div class="field">
      <%= f.label :vendor_video_url %><br />
      <%= f.text_field :vendor_video_url %>
    </div>
  </div>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>