<%= form_for(@gig) do |f| %>

  <% if @gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>
      <ul>
      <% @gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <section class="container">
      <div class="container-page">        
   
        <div class="col-md-6">
          
          <div class="form-group col-lg-12">
            <label>Title</label>
            <%= f.text_field :title, class:"form-control" %>
          </div>
          
          <div class="form-group col-lg-12">
            <label>Price</label>
            <%= f.number_field :price, class:"form-control" %>
          </div>
                  
          <div class="form-group col-lg-12">
            <label>Details</label>
            <%= f.text_area :details, class:"form-control" %>
          </div>  

          <div class="form-group col-lg-12">
            <label>Tag</label>
            <%= f.select(:tag, options_for_select([["None", nil], ["Arts & Craft", "Arts & Craft"], ["Literature & Translation", "Literature & Translation"], ["Music & Entertainment", "Music & Entertainment"], ["Tech & IT", "Tech & IT"], ["Education & Training", "Education & Training"], ["Home & Wellbeing", "Home & Wellbeing"]])) %>
          </div>         
          
          <div class="form-group col-lg-12">
            <label>Pictures</label>
            <%= f.file_field :pictures, multiple: true %>
          </div> 

          <%= f.hidden_field :user_id, value: current_user.id %>
          
          <br>
          <div class="form-group col-lg-12"> 
            <button type="submit" class="btn btn-primary">Show Your Talent</button>
          </div>
          
        </div>
      </div>
    </section>
  </div>
<% end %>