<p id="notice"><%= notice %></p>

<div class="index">
<div id="wrapper">

<h2>ALL Gigs</h2>
<%= link_to 'New Gig', new_gig_path %>

  <%= form_tag(gigs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Gigs" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <br>

  <div id="columns">
    <% @gigs.each do |gig| %>
    <div class="pin"> 
        <%if !gig.pictures[0].nil? %>
          <%= image_tag gig.pictures[0].url(:index) %>
        <%end%>
        <h4><%= gig.details %></h4>
        <p>Starting from: MYR<%= gig.price %></p>
        <p>
          <%= link_to 'View', gig, class: "btn btn-info btn-xs" %>
          <%= link_to 'Book Now', gig, class: "btn btn-default btn-xs" %>
          <%= link_to 'Purchase', gig, class: "btn btn-success btn-xs pull-right" %>
        </p>
          <h6><%= link_to 'Edit', edit_gig_path(gig) %>
              <%= link_to 'Delete', gig, method: :delete, data: { confirm: 'Are you sure?' } %>
          </h6>
      <p>Vendor Name</p>
      <p>Gig Category</p>
    </div>
    <% end %>
  </div>
</div>
</body>

