<p id="notice"><%= notice %></p>

<div class="profile-body">>
<div class="container">
    <div class="row profile">

      <div class="col-md-9">
        <div class="profile-content">
          <h2><%= @gig.details %></h2>
          <%= image_tag @gig.pictures.url%>
        </div>
      </div>

    <div class="col-md-3">

        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Order Now</button>
        </div>
      <br>
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="@gig.pictures.url", class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Vendor Name
          </div>
          <!-- <div class="profile-usertitle-job">
            Developer
          </div> -->
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
<!--         <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div> -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-map-marker"></i>
              Location </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Profile </a>
            </li>
  <!--           <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li> -->
          </ul>
        </div>
        <!-- END MENU -->
       
      </div>

    </div>
      <div class="profile-userbuttons">
        <button type="button" class="btn btn-default">Contact Me</button>
      </div>
    </div>
</div>
</div>


<p>
  <strong>Price:</strong>
  <%= @gig.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @gig.details %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= image_tag @gig.pictures.url(:thumb)%>
</p>

<p>
  <strong>Paid:</strong>
  <%= @gig.paid %>
</p>

<p>
  <strong>User:</strong>
  <%= @gig.user_id %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>