<body>
<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<div class="container">
    <br>
    <div class="row">
      <div class="col-md-3">
        <% if @gig.user_id != current_user.id %>
          <div class="profile-userbuttons">
           <!--  <button type="button" class="btn btn-success btn-sm"> -->
            <%= link_to "Order Now", new_gig_purchase_path(@gig.id), :class => "btn btn-success btn-sm" %>
          </div>
        <% end %>

        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img class="img-responsive" alt="" <%= image_tag @gig.user.avatar %></>
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <p>By: <%= link_to "#{@gig.user.name}", users_show_path(id: @gig.user.id) %></p>
            </div>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              <%= @gig.tag %></a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              <%= @gig.user.email %></a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
        <!-- SIDEBAR BUTTONS -->
        <% if @gig.user_id == current_user.id %>
          <div class="profile-userbuttons">
            <%= link_to "Edit", edit_gig_path, class: "btn btn-success btn-sm" %><br>
            <%= button_to "Delete", {:controller => "gigs", :action => 'destroy', :id => @gig.id}, :confirm => "Are you sure you want to delete #{@gig.title}?", :method => :delete, class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
        <!-- END SIDEBAR BUTTONS -->
      </div>

    <div class="col-md-9">
      <div class="profile-content">         
        <% if @gig.pictures %>
      <div class="carousel slide" id="screenshot-carousel" data-rise="carousel"><!-- Variable Carousel -->
       <ol class="carousel-indicators">
         <% @gig.pictures.each_with_index do |picture, index| %>
           <% if index == 0 %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
           <% else %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
           <% end %>
         <% end %>
       </ol>
       <div class="carousel-inner">
         <% @gig.pictures.each_with_index do |picture, index| %>
           <% if index == 0 %>
             <div class="item active">
               <%= image_tag picture.url(:index).to_s %>
             </div>
           <% else %>
             <div class="item">
               <%= image_tag picture.url(:index).to_s %>
             </div>
           <% end %>            
         <% end %>
       </div>
       <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
     </div><!-- End Variable Carousel -->
     <% else %>
     <p>No pictures for this service yet</p>
     <% end %><br>

      <%= rating_for @gig, "Service" %>
      <h2><%= @gig.title %></h2>      
      <p><%= @gig.details %><br></p>
  </div>

  <div class="col-md-12">
    <h3>Comments</h3>
    <% @reviews.each do |review| %>
      <div class="review-content">
      <%= image_tag review.user.avatar, :class => "profile-image img-rounded" %>
      <%= link_to "#{review.user.name}" %><br>
      <%= review.content %>
      </div>
    <% end %>
    <%= render :partial => "reviews/form" %>
  </div>
</div>
</body>