<body>
<div class="container">
    <div class="row profile">
    <div class="col-md-3">

      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4iIqZTl8CdYP5yDZhR2xCuVYdUDR4bO2c-phM0bCahpjpSMI5RA" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Vendor Name
          </div>
          <div class="profile-usertitle-job">
            Category
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Overview </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Account Settings </a>
            </li>
            <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <%= link_to "Order Now", new_gig_purchase_path(@gig.id), :class => "btn btn-success btn-sm" %>
          <button type="button" class="btn btn-default btn-sm">Contact Me</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h2><%= @gig.title %></h2>
        <%= rating_for @gig, "Service" %>
         

        <% if @gig.pictures %>
      <div class="carousel slide" id="screenshot-carousel" data-rise="carousel"><!-- Variable Carousel -->
       <ol class="carousel-indicators">
         <% @gig.pictures.each_with_index do |picture, index| %>
           <% if index == 0 %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
           <% else %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
           <% end %>
         <% end %>
       </ol>
       <div class="carousel-inner">
         <% @gig.pictures.each_with_index do |picture, index| %>
           <% if index == 0 %>
             <div class="item active">
               <%= image_tag picture.url(:index).to_s %>
             </div>
           <% else %>
             <div class="item">
               <%= image_tag picture.url(:index).to_s %>
             </div>
           <% end %>            
         <% end %>
       </div>
       <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
       </a>
     </div><!-- End Variable Carousel -->
     <% else %>
     <p>No pictures for this service yet</p>
     <% end %><br>

     <div class="col-md-9">
        <p><%= @gig.details %><br></p>
    </div>
  </div>

  <div class="col-md-12">
    <h3>Comments</h3>
    <% @reviews.each do |review| %>
      <div class="review-content">
      <%= image_tag review.user.avatar, :class => "profile-image img-rounded" %>
      <%= link_to "#{review.user.name}" %><br>
      <%= review.content %>
      </div>
    <% end %>
    <%= render :partial => "reviews/form" %>
  </div>
</div>
</body>

<br>

<p>
  <strong>User:</strong>
  <%= @gig.user_id %>
</p>

<!-- 
<% @gig.pictures.each_with_index do |picture, index| %>
<%= image_tag @gig.pictures[index].url(:index) %>
<% end %> -->
