 <div class=" marketing">

<!-- USP section -->
      <div class="row">
        <div class="col-lg-4">
         <img class="img-circle" width="150" height="150" <%= image_tag 'icons/bulb.gif' %> </>
          <h2>Hire Top Talent</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" width="150" height="150" <%= image_tag 'icons/check.gif' %> </>
          <h2>Safe & Secure Transactions</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" width="150" height="150" <%= image_tag 'icons/image.gif' %> </>
          <h2>Give Something Back</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


<!-- highlighted gigs section -->


     
<!--divider section-->

<div class="divider">
    <h2>Meet The Team</h2>
</div>

<!--team section-->

<section id="team">
  <div class="team-container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline list-unstyled text-center">
          <li>
            <img class="img-rounded" width="150" height="150" <%= image_tag 'avatars/1.png' %> </>
            <h5>Firstname Lastname</h5>
            <p>CEO</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/2.png' %> </>
            <h5>Firstname Lastname</h5>
            <p>CTO</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/3.png' %> </>
            <h5>Firstname Lastname</h5>
            <p>CIO</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/4.png' %> </>
            <h5>Firstname Lastname</h5>
            <p>CMO</p>
          </li>
      </ul>
    </div>
  </div>
</section>











