<!-- USP section -->
<div class="container">
  <div class="marketing">
    <div class="row">
      <div class="col-lg-4">
       <img class="img-circle" width="150" height="150" <%= image_tag 'icons/bulb.gif' %> </>
        <h2>Help by Getting Help</h2>
        <p>At Toivo, we believe in helping the less abled by giving them a chance to help us. Because sometimes the physically less abled may be extraordinarily abled in different ways. Give them a chance and find out.</p>
        <p><a class="btn btn-default" href="#howitworks" role="button">Read More &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" width="150" height="150" <%= image_tag 'icons/check.gif' %> </>
        <h2>Trustworthy Talents</h2>
        <p>Toivo filters our talents through validating identification details. Physically less abled talents may verify their identification through PWD details and elderly talents may do so with NRIC details.</p>
        <p><a class="btn btn-default" href="#howitworks" role="button">Read More &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" width="150" height="150" <%= image_tag 'icons/image.gif' %> </>
        <h2>Give Something Back</h2>
        <p>Toivo talents have a chance to earn extra income from their abilities and you have a chance to contribute by asking for their help. This forms our core of helping out by asking for help.</p>
        <p><a class="btn btn-default" href="#howitworks" role="button">Read More &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</div>

<!-- FAQs -->
<div class="container" id="howitworks">
  <section>
  <div class="divider">
      <h2>How Toivo Works</h2>
  </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
              What is Toivo?
            </a>
          </div><!-- End panel title -->
          <div id="collapse-1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Toivo is a platform that provides opportunities for the physically less abled and the elderly (Talents, as we call them), as well as a chance to help by getting help for everyone else. Talents have a chance to contribute their abilities by offering Services on Toivo. We call them Services, but they can actually be either goods or services offered by our Talents. Please browse through our list of Services and see if there's anything you like. You might be surprised with the quality on offer by the so called 'less-abled'.</p>

              <p>If you see something you like, congratulations! You now have a chance to help by helping out. Trust us, it's different than simply buying something or donating. We believe that you would actually provide opportunites for our Talents to find their purpose. To contribute something to society with their abilities. Just because they're physically less abled, doesn't mean they're not extraordinarily abled in other ways!</p>

              <p>P.s. Toivo means hope in Finnish, because we believe that's what we're offering. Even it only a little bit.</p>

            </div>
          </div><!-- End Panel collapse -->
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
              Who can use Toivo?
            </a>
          </div><!-- End panel title -->
          <div id="collapse-2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anyone can use Toivo. You're using it right now! You're free to browse around and be inspired by our Talents. You'll need an account to purchase the awesome Services though. Just click on the sign in link on the top right of the page and share us some basic details and you're set. For now, payments can be made using either a credit card or Paypal accounts.</p>

              <p>To become a Talent though, we'll need more information from you. You'll need to be someone physically less abled or elderly and we need to check that. So we need either details of your PWD identification card or NRIC just to make sure. If you have these with you, awesone! Just click on your profile page and edit your profile. You'll be introduced to a form which lets you identify yourself as a talent and you'll be set. You can now post Services!</p>

            </div>
          </div><!-- End Panel collapse -->
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
              How is Toivo different from other disabled job boards?
            </a>
          </div><!-- End panel title -->
          <div id="collapse-3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Disabled job boards are awesome. They provide opportunities for employment and we need that. But what if a Talent just wants to offer a one time or irregular Service? That's where we come in. We let you get help only when you need to and Talent to offer Services only when they want to.</p>

              <p>Toivo operates as a social enterprise. That means we're a business and need to pay the bills as well. We make income by asking for a fee for every transactions. Right now, this amount is 2.5% of all transactions.</p>
            </div>
          </div><!-- End Panel collapse -->
        </div>
      </div>
    </div><!-- End panel group -->

  </section>
</div><!-- End FAQs -->

<!--divider section-->

<div class="divider">
    <h2>Meet The Team</h2>
</div>

<!--team section-->

<section id="team">
  <div class="team-container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline list-unstyled text-center">
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/3.png' %> </>
            <h5>Aaron</h5>
            <p>Co-founder</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/4.png' %> </>
            <h5>Kevin</h5>
            <p>Chief Happiness Officer</p>
          </li>
          <li>
            <img class="img-rounded" width="150" height="150" <%= image_tag 'avatars/1.png' %> </>
            <h5>Raz</h5>
            <p>Chief Imaginary Officer</p>
          </li>
          <li>
             <img class="img-rounded responsive" width="150" height="150" <%= image_tag 'avatars/2.png' %> </>
            <h5>Sini</h5>
            <p>Co-founder</p>
          </li>
      </ul>
    </div>
  </div>
</section>











