<footer>
	<div class="container text-center" style="background-color: #000000">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<img class="img-responsive" width="100" height="100"<%= image_tag 'toivo_heart.png' %>
				</div>
				<div class="col-sm-2">
				<h5>About Toivo</h5>
					<ul class="list-unstyled">
						<li><%= link_to "Our Mission", welcome_mission_path %></li>
						<li><%= link_to "The Team", welcome_team_path %></li>
					</ul>
				</div>
				<div class="col-sm-2">
				<h5>Social</h5>
					<ul class="list-unstyled">
						<li><a href="http://www.facebook.com">Facebook</a></li>
						<li><a href="http://www.twitter.com">Twitter</a></li>
						<li><a href="http://www.blogger.com">Blog</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
				<h5>Support</h5>
					<ul class="list-unstyled">
						<li><%= link_to "Privacy policy", welcome_privacy_path %></li>
						<li><%= link_to "Terms & conditions", welcome_terms_path %></li>
						<li><%= link_to "Helpdesk", welcome_help_path %></li>
					</ul>
				</div>
				<div class="col-sm-2">
				<address>
					<strong>Toivo, A Project</strong>
					Aaron, Kevin, Raz, Sini and all our mentors<br>
					2016 Next Academy<br>
				</address>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</footer>